body {
    font: normal 1.2em Arial, sans-serif;
    ;
    background-color: blue;
}

header {
    color: white;
    text-align: center;
}

section {
    background-color: white;
    width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.350);
}

select {
    width: 180px;
}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}